html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  background: #EDECED;
}

#fgi-app {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
}

.fgi-button{
  font-size: 14px;
  color: #FFF;
  background: #589F16;
  border: none;
  padding: 5px 15px;
}

header {
  display: flex;
  flex-direction: column;
  background: #EDECED;
  .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .stats {
      border: 1px solid #CCC;
      padding: 10px;
      // height: 125px;
      margin: 10px 2%;
      width: 60%;
      font-size: 12px;
      text-transform: uppercase;
      .actions {
        text-transform: none;
        font-style: italic;
        input {
          display: inline;
        }
        button, .button-wrapper {
          display: inline;
          font-style: normal;
          a {
            padding: 7px 15px !important;
            &:hover {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
    .filter {
      border: 1px solid #CCC;
      font-size: 12px;
      margin: 10px 2%;
      width: 35%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      // height: 125px;
      div {
        display: flex;
        flex-direction: column;
        span {
          margin: 2px 0;
          text-transform: uppercase;
        }
        input {
          margin: 5px 0;
        }
      }
    }
  }
}

.content {
  flex: auto;
  overflow-y: auto;
  background-color: #EDECED;
}

.players {
  margin: 0 2%;
  border: 0;
  border-collapse: collapse;
  width: 96%;
  thead {
    background: #CCC;
  }
  tbody {
    tr:nth-child(even) {
      background: #F0F0F0;
    }
    tr:nth-child(odd) {
      background: #FFF;
    }
  }
  tr {
    display: flex;
  }
  td,
  th {
    padding: 6px;
    border-bottom: 1px solid gray;
    font-size: 12px;
    input {
      padding-left: 10px;
      width: 99px;
      height: 30px;
      border: 1px solid #979797;
      background: #FFF;
    }
    &:nth-child(1) {
      width: 30%;
      text-align: left;
    }
    &:nth-child(2) {
      width: 11%;
      text-align: right;
    }
    &:nth-child(3) {
      width: 14%;
      text-align: center;
    }
    &:nth-child(4) {
      width: 14%;
      text-align: center;
    }
    &:nth-child(5) {
      width: 14%;
      text-align: center;
    }
    &:nth-child(6) {
      width: 17%;
      text-align: center;
    }
  }
  td {
    flex: 1 auto;
    word-wrap: break;
  }
  thead tr:after {
    content: '';
    overflow-y: scroll;
    visibility: hidden;
    height: 0;
  }
  thead th {
    flex: 1 auto;
    display: block;
  }
  tbody {
    display: block;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 2%;
    height: 300px;
  }
}
